/* NAV */
.main-navigation {
  margin-top: 0;
  margin-left: 0;
  height: 80px;
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #f4f6f6;
  box-shadow: grey;
  z-index: 5;
}

.main-logo {
  height: auto;
  padding-left: 0.8rem;
  justify-content: center;
  align-items: center;
}

.main-nav-container {
  padding-right: 0.8rem;
  justify-content: center;
  align-items: center;
}

.main-nav-items {
  margin-left: 2rem;
}

/* MAIN CONTENT */
.main-content {
  margin-top: 2rem;
}

.layout-left-side {
  border-right-width: 1px;
  border-right-color: rgb(170, 170, 170);
  border-right-style: dotted;
  height: 100%;
}

body {
  counter-reset: section;
}

.counter::before {
  counter-increment: section;
  content: counter(section);
}

.full-height {
  min-height: 100vh;
}

/* SECTION */
.judul-section-paket {
  font-size: large;
  font-weight: bold;
  color: white;
}

/* GAPS */
.col-gap-right {
  margin-right: 4rem;
}

.col-gap-left {
  margin-left: 4rem;
}

.gap-to-top-4 {
  margin-top: 4rem;
}

.gap-to-top-3 {
  margin-top: 3rem;
}

.gap-to-top-2 {
  margin-top: 2rem;
}

.gap-to-top-1 {
  margin-top: 1rem;
}

.gap-to-top-025 {
  margin-top: 0.25rem;
}

.gap-to-top-0 {
  margin-top: 0rem;
}

.gap-to-left-sm {
  margin-left: 0.25rem;
}

.gap-to-right-sm {
  margin-left: 0.25rem;
}
.gap-to-right-md {
  margin-right: 2rem;
}

.gap-to-left-md {
  margin-left: 2rem;
}

/* CARD */
.int-atas-bwh {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.int-atas-bwh-01 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.fit-content {
  overflow-y: auto;
}

.card-grey {
  background-color: rgba(218, 218, 218, 0.4)!important;
}

.sm-padding {
  padding: 5px;
}

.big-card {
  font-size: 18pt;
}

/* ANIMATION */
/* source: https://stackoverflow.com/questions/28145840/how-to-scale-an-element-when-it-loads-using-only-css */
.popOver {
  height: 100%;
  width: 100%;
  /* position: fixed; */
  background-color: #d9dfe5;
  -webkit-animation: bummer 1s;
  animation: bummer 1s;
  -webkit-transform: scale(0,0); 
  transform: scale(0,0);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; /* Add this so that your modal doesn't close after the animation completes */
}

@-webkit-keyframes bummer {
  100% {
      -webkit-transform: scale(1,1); 
  }
}

@keyframes bummer {
  100% {
      transform: scale(1,1); 
  }
}

/* TABLE */
/* CSS Counter in table number - see MDN https://developer.mozilla.org/en/CSS_Counters */
table {
  counter-reset: section;
}

.count:before {
  counter-increment: section;
  content: counter(section);
}

/* CLEAN STYLE */
.clean-list-items {
  list-style-type: none;
}

.clean-link {
  text-decoration: none;
}

.clean-link:hover{
  color: rgb(209, 75, 34);
}

/* OVERRIDES */
.d-flex {
  margin-bottom: 0;
}

.btn-metode-pengadaan {
  background-color: rgb(38, 138, 116);
}

.card-only-bottom {
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.08);
  border-bottom-style: solid;
}

.card-border-blue {
  border-color: rgb(216, 233, 255)!important;
}

.card {
  border-radius: 6px!important;
}

input {
  border-radius: 6px;
  border-style:solid;
}

textarea {
  border-radius: 6px;
  border-style:solid;
}

/* FONTS */
.medium-font {
  font-size: medium;
}

.small-font {
  font-size: small;
}

.smaller-font {
  font-size: xx-small !important;
}

.font-tebal {
  font-weight: bolder;
}

.font-red-bold {
  font-size: small;
  font-weight: bolder;
  color: maroon;
}

/* DECORATIVE */
.color-blue {
  background-color: rgb(87, 161, 221) !important;
  color: white;
}

.divider {
  border-bottom: rgba(0,0,0,.2);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

/* FORMS */
.form-full-width {
  width: 100%;
}

.login-form {
  width: 30%;
  height: 40%;
  border-color: rgb(238, 238, 238)!important;
}

.login-form:hover {
  box-shadow: 5px 5px 20px rgb(184, 184, 184);
}

.search-form {
  width: "auto";
  height: 10%;
  border-color: rgb(238, 238, 238);
  box-shadow: 5px 5px 20px rgb(184, 184, 184);
}

.search-form-bg {
  background-image: url("static/img/bgsearch.png");
  width: "100%";
  height: "100%";
}

/* DATE PICKER from react-datetime*/
/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

 .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}